
.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 2.5rem;
}
.left-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.min-left-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 42.75rem;
    max-height: 12.5rem;
    justify-content: space-around;
    border-radius: 0.5rem;
    background-color: #fff;
    border-left: 0.625rem solid #EAEDED;
    border-right: 3.125rem solid #EAEDED;
    border-bottom: 0.5rem solid #EAEDED;
    border-top: 0.5rem solid #EAEDED;
    border-radius: 0.5rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-family: cursive;
    font-size: 1rem;
    align-items: stretch;
    padding: 1.25rem;
}
.words{
    background-color: white; 
    color: black;
    margin-top: 0%;
    margin-left: 1.25rem;
}
.words > h5{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    
}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f2f2;
    width: 23.125rem;
    padding: 1.25rem;
}
.min-right-container{
    background-color: white;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
   
}
.min-right-container1{
    background-color: #a5a5a5;
}
.min-right-container1 > h2{
    font-size: medium;
    color: white;
}
.min-right-container > h5{
    color: #f6b958;
}