body {
    margin: 12px;
}

.wote {
    flex-direction: column;
    justify-content: space-between;
    flex: 1px;
}

.nje {
    background-color: #eaeded;
    border-radius: 12px;
    max-width: 750px;
    height: 213px;
    padding-left: 12px;
    padding-top: 12px;
    margin: 12px 12px;
}

.kwanza {
    display: flex;
    flex: 1px;
    background-color: #ffffff;
    max-width: 684px;
    max-height: 203px;
    padding-left: 5px;
    padding-top: 5px;
}

.tembo img {
    width: 290px;
    height: 188px;
    padding-right: 19px;
}

.sere>h5 {
    margin-top: 15px;
    margin-bottom: 2px;
}

.sere p {
    font-family: cursive;
    font-size: 12px;
    opacity: 0.9px;
    margin-top: 0px;
}

.pili {
    display: flex;
    background-color: #ffffff;
    max-width: 684px;
    max-height: 203px;
    padding-left: 5px;
    padding-top: 5px;
    flex: 2px;
}

.pili img {
    width: 290px;
    height: 188px;
    padding-right: 19px;
}

.ngoro h5 {
    margin-bottom: 0px;
    margin-top: 15px;
}

.ngoro p {
    font-family: cursive;
    font-size: 12px;
    opacity: 0.9px;
    margin-top: 0px;
}

.tatu {
    display: flex;
    background-color: #ffffff;
    max-width: 684px;
    max-height: 203px;
    padding-left: 5px;
    padding-top: 5px;
}

.tatu img {
    width: 290px;
    height: 188px;
    padding-right: 19px;
}

.manya>h5 {
    margin-bottom: 0;
    margin-top: 15px;
}

.manya p {
    font-family: cursive;
    font-size: 12px;
    opacity: 0.9px;
    margin-top: 0;
}