body {
    margin: 0rem;
}

.jumla {
    display: flex;
    justify-content: space-between;
}

.wote {
    flex-direction: column;
    justify-content: space-between;
    flex: 0.0625rem;
}

.nje {
    background-color: #eaeded;
    border-radius: 0.75rem;
    max-width: 46.875rem;
    height: 13.3125rem;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
    margin: 0.75rem 0.75rem;
}

.kwanza {
    display: flex;
    flex: 0.0625rem;
    background-color: #ffffff;
    max-width: 42.75rem;
    max-height: 12.6875rem;
    padding-left: 0.3125rem;
    padding-top: 0.3125rem;
}

.tembo img {
    width: 18.125rem;
    height: 11.75rem;
    padding-right: 1.1875rem;
}

.sere>h5 {
    margin-top: 0.9375rem;
    margin-bottom: 0.125rem;
}

#para {
    font-family: cursive;
    font-size: 0.75rem;
    opacity: 0.9;
    margin-top: 0rem;
}

.pili {
    display: flex;
    background-color: #ffffff;
    max-width: 42.75rem;
    max-height: 12.6875rem;
    padding-left: 0.3125rem;
    padding-top: 0.3125;
    flex: 0.125rem;
}

.pili img {
    width: 18.125rem;
    height: 11.75rem;
    padding-right: 1.1875rem;
}

.ngoro h5 {
    margin-top: 0.9375rem;
    margin-bottom: 0.125rem;
}

.ngoro p {
    font-family: cursive;
    font-size: 0.75rem;
    opacity: 0.9;
    margin-top: 0rem;
}

.tatu {
    display: flex;
    background-color: #ffffff;
    max-width: 42.75rem;
    max-height: 12.6875rem;
    padding-left: 0.3125rem;
    padding-top: 0.3125;
    flex: 0.125rem;
}

.tatu img {
    width: 18.125rem;
    height: 11.75rem;
    padding-right: 1.1875rem;
}

.manya>h5 {
    margin-top: 0.9375rem;
    margin-bottom: 0.125rem;
}

.manya p {
    font-family: cursive;
    font-size: 0.75rem;
    opacity: 0.9;
    margin-top: 0rem;
}

.main {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    padding-right: 12px;
}

h1 {
    background-color: gray;
    max-width: 300px;
    max-height: 250px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0;
    color: orange;
}

.out {
    background-color: #eaeded;
    width: 290px;
    height: 500px;
    padding-left: 10px;
    padding-top: 10px;
}

.moja,
.moja1,
.moja2,
.moja3 {
    background-color: #ffffff;
    width: 260px;
    border-radius: 12px;
}

.sere>h2 {
    margin-top: 1px;
    margin-bottom: 2px;
}

.sere p,
.sere1 p1,
.sere2 p2,
.sere3 p3 {
    font-family: cursive;
    font-size: 20px;
    opacity: 0.9px;
    margin-top: 0px;
}