img{
    background-color: #fef1de ;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 43px;
    color: #273746;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #808080;
    text-align: center;
    max-width:500px;
    float: right;
}
h3{
    font-family:cursive;
}
h4{
    font-family: 'Times New Roman', Times, serif;
}
.home{
    max-width: 60%;
    float: left;
}
.main{
    font-family: cursive;
    color: #34495E; 
    opacity:0.7;
}
.info{
    font-family:'Times New Roman', Times, serif
    color: #34495e;
    background-color: #fef1de;
    padding:  
}
hr{
    border-color:#F39C12;
}
table, td{
    background-color: #fef1de;
}
.destinations{
    width: 80%;
    padding: 20px 0 0 20px;
}
.flex-container > div {
    background-color: #fef1de;
    max-width: 40%;
    max-height: 40%;
    float: right;
    top: 500px;
    flex-wrap: wrap;

.all{
    display: flex;
}